.button {
  background-color: #0278fe;
  border-radius: 4px;
  max-height: 48px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  padding: 13px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  transition: background-color 0.25s ease-in-out;
  color: #fff;
}
  
.button:hover {
  background-color: #0063d2;
}