.header {
  display: flex;
  justify-content: center;
  padding-top: 34px;
}

.header__logo {
  width: 270px;
  height: 70px;
}
  
@media screen and (max-width: 320px) {
  .header {
    padding-top: 20px;
    }
  .header__logo {
    width: 200px;
    height: 51.8px;
    }
}