.lead {
  margin: 90px 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}
  
.lead__title {
  max-width: 793px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  margin: 0 auto;
}
  
.lead__subtitle {
  max-width: 720px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  margin: 32px auto 0;
}

.lead__image {
  margin: 64px auto 0;
  box-sizing: border-box;
  object-fit: contain;
  max-width: fit-content;
}
  
@media screen and (max-width: 1028px) {
    .lead__image {
      margin-top: 36px;
      width: 100%;
      max-width: fit-content;
    }
}
  
@media screen and (max-width: 665px) {
    .lead {
      margin-top: 50px;
    }
    .lead__title {
      font-size: 75px;
    }
    .lead__subtitle {
      font-size: 24px;
    }
}

@media screen and (max-width: 550px) {
    .lead__title {
      font-size: 40px;
      line-height: 1.1;
    }
    .lead__subtitle {
      font-size: 16px;
      margin-top: 16px;
    }
}