.places {
  margin: 92px auto 0;
  max-width: 987px;
}
  
.places__item {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto 460px auto;
  gap: 48px 35px;
  grid-template-areas:
    "title artist"
    "image description"
    "link description";
  margin-top: 80px;
}
  
.places__item:first-of-type {
  margin-top: 0px;
}
  
.places__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
  grid-area: title;
  align-self: end;
}
  
.places__artist {
  align-self: end;
  grid-area: artist;
}
  
.places__header {
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaa;
  margin: 0;
}

.places__artist-name {
  font-size: 18px;
  line-height: 1.22;
  margin: 8px 0 0;
}
  
.places__image {
  max-width: 460px;
  max-height: 460px;
  width: 100%;
  object-fit: cover;
  grid-area: image;
}

.places__description {
  font-size: 18px;
  line-height: 1.63;
  grid-area: description;
  max-width: 484px;
}

.places__text {
  margin: 25px 0 0 0;
}
  
.places__text:first-of-type {
  margin-top: 0;
}

.places__link {
  width: 248px;
  grid-area: link;
}
  
@media screen and (max-width: 1000px) {
  .places {
    margin: 88px 24px 0;
  }
  .places__item {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 340px auto;
    margin-top: 72px;
    gap: 48px 28px;
  }
  .places__description {
    font-size: 16px;
  }
  .places__image {
    max-width: 340px;
    max-height: 340px;
  }
  .places__title {
    font-size: 42px;
    line-height: 1.06;
  }
}
  
@media screen and (max-width: 634px) {
  .places {
    margin: 62px 0 0;
  }
  .places__item {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "title"
        "artist"
        "image"
        "description"
        "link";
      row-gap: 25px;
      margin-top: 50px;
  }
  .places__image {
    max-height: 320px;
    grid-area: image;
    width: 100%;
    max-width: 100vw;
  }
  .places__title {
    padding: 0 16px 0;
  }
 
  .places__artist {
    padding: 0 16px 0;
  }
  
  .places__text {
    padding: 0 16px 0;
  }
}
  
@media screen and (max-width: 466px) {
  .places__title {
    font-size: 32px;
    line-height: 1.09;
  }
  .places__link {
    width: 288px;
    margin-left: calc((100% - 288px) / 2);
  }
}